.marketEvaluationDepartment {
    height: 100%;
    overflow-y: auto;

    &__container {
        margin: 50px auto 0 auto;
        width:1000px;
        height:auto;
    }

    .row {
        display: flex;
    }

    .element-row {
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;
    }

    &__icon {
        width: 120px;
        height: 120px !important;
    }

    &__factor {
        display: flex;
        margin: 0 50px 0 0;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-radius: 4px;
        background-color: #FBC426;
        width: 300px;
        font-weight: 900;
    }

    &__factor-icon {
        width: 50px;
        height: 50px!important;
        margin: 0 20px 0 0;
    }

    .icon__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            background-color: #ffa171;
            border-radius: 4px;
            border: 1px solid gray;
            padding: 5px 10px;
            font-weight: 900;
        }
    }

    &__flags {
        display: flex;
        justify-content: flex-end;
        margin: 0 155px 0 0;

        span {
            font-size: 16px;
            font-style: italic;
            text-align: center;
            padding: 0 50px 10px 0;
            color: gray;

            &:last-child {
                padding-right: 5px;
            }
        }
    }

    .marketAssessment-banner {
        color: gray;
        text-align: center;
        margin: 0 0 0 5px;
        font-style: italic;
        font-size: 12px;
        padding: 2px 5px;
        width: 150px;
        border-radius: 4px;
    }

    &__submit {
        width: 200px;
        height: 50px;
        margin: 50px auto;
        display: block;
        outline: none;
        background-color: rgba(255, 148, 37, 0.93);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: $login-text-color;

        &:hover{
            cursor: pointer;
        }
    }
}
