$login-text-color : #FFFFFF;

.valius-auth-page {
    background: $basic-app-color;
    height: 100%;
    overflow-y: auto;



    input.md-input{
        border-bottom: 1px solid $login-text-color;
        color: $login-text-color;
        &:-webkit-autofill {
            -webkit-text-fill-color: $login-text-color
        }
    }

    .accept-terms{
        .md-checkbox {
            &.md-checked .md-checkbox-container:after {
                border-width :0 2px 2px 0;
                border-color: black;
            }
        }

        span {
            color: $login-text-color;
            font-size: 11px;
            text-align: left;
            padding-top: 10px;
        }
    }



    .md-checkbox {
        color:$login-text-color;
        .md-checkbox-container {
            background-color:$login-text-color;
        }
    }

    .valius-logo {
        width: 100%;
        max-width: 500px;
        margin: 100px auto 0 auto;
        text-align: center;
    }

    &__header {
        text-align: center;
        color: $login-text-color;
        margin-bottom: 70px;
    }

    &__input {
        color: $login-text-color;
        input {
            color: $login-text-color;
            text-align: center;
        }

    }

    &__login-buttons {
        display: flex;
       justify-content: center;
       .md-default{
           color:$login-text-color;
           border: 1px solid $login-text-color;
       }
    }

    &__forgot-password {
        a{
            margin: auto;
            color: white;

        }

    }

}
