.start-game {
    border: 10px solid rgba(31, 77, 255, 0.93);
    margin: 0 auto 0 auto;
    padding: 40px 20px;
    max-width: 1000px;
    border-radius: 20px;
    transform: translateY(100px);



    &__header {
        font-size: 25px;
        color: rgba(0, 29, 255, 0.93);
        @include mobile-only {

        }
    }


    &__description-container {
        display: flex;
        margin: 10px 0 0 0;
    }

    &__subheader {
        font-size: 20px;
        margin-top: 40px;
        color: rgba(91, 94, 255, 0.93);
        font-weight: 800;

        &:before {

        }
    }

    &__image {
        flex: 2;
        img {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: -55px;
        }

        h3 {
            text-align: center;
            color: rgba(111, 103, 255, 0.93);
            font-weight: 900;
        }

        p {
            padding: 40px;
            text-align: justify;
            color: gray;
        }
    }

    &__description {
        flex: 3;
        p {
            font-weight: 900;
            text-align: left;
            margin-bottom: 20px;
        }
    }


    &__button {
        width: 200px;
        height: 50px;
        margin: 50px auto;
        display: block;
        outline: none;
        background-color: rgba(255, 148, 37, 0.93);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: $login-text-color;

        &:hover{
            cursor: pointer;
        }
    }
}
