@import "mixins/mixins";
@import "basic/basic";
@import "colors/colors";
@import "login/login";
@import "components/components";

[v-cloak] { display:none; }
@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.md-select-menu{
    background-color: white;
}
