@import "mixins/mixins";
@import "basic/basic";
@import "colors/colors";
@import "login/login";
@import "components/components";

[v-cloak] { display:none; }

html,body {
    font-family: Roboto, sans-serif;
}

.logout-panel {
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        button {
            margin: 5px 0 ;
            width: 80px;
            height: 30px;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 16px;
            color: black;
            background-color: white;
            cursor: pointer;
        }
    }
}
