.choose-market {
    height: 100%;
    overflow-y: auto;


    .container {
        height: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .information-banner{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        left: 0;
        right: 0;
    }

    &__banner {
        width: 100%;
        display: flex;
        justify-content: space-around;

    }

    &__option-wrapper {
        border-radius: 15px;
        padding: 5px;
        cursor: pointer;

        &--b2c {
            border: 5px solid #EA5C63;
            .option {
                background-color: #EA5C63;
            }
        }

        &--b2b {
            border: 5px solid #177CC5;
            .option {
                background-color: #177CC5;
            }
        }
    }

    &__option {
        color: $login-text-color;
        border-radius: 10px;
        font-size: 20px;
        padding: 30px 20px;
    }
}
