.game-map {
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;


    .container {
        margin:  auto;
    }

    &__map {
        width: 1000px;
        height: 720px;
        margin: auto;
        position: relative;
        img {
            width: 1000px;
            margin: auto;
        }
    }

    .horse {
        $animation-delay: 3s;

        position: absolute;
        width: 60px;
        z-index: 100;
        -webkit-transition: all $animation-delay ease;
        -moz-transition: all $animation-delay ease;
        -o-transition: all $animation-delay ease;
        -ms-transition: all $animation-delay ease;
        transition: all $animation-delay ease;


        &__position {

            &--start {
                bottom: 121px;
                left: 154px;
            }

            &--landscapeIdentification {
                bottom: 147px;
                left: 700px;
            }

            &--marketAssessment {
                bottom: 288px;
                left: 418px;
            }

            &--productAssessment {
                bottom: 355px;
                left: 195px;
            }

            &--readyToStrategize {
                bottom: 472px;
                left: 707px;
            }
        }
    }



    &__link {
        display: inline-block;
        height: 65px;
        padding-left: 100px;
        width: auto;
        color: $login-text-color;
        font-size: 20px;
        font-weight: 900;

        &:hover {
            cursor: pointer;
        }

        &--start {
            position: absolute;
            height: 100px;
            bottom: 98px;
            left: 121px;
        }

        &--landscapeIdentification {
            position: absolute;
            padding: 80px 0 0 0;
            height: 100px;
            bottom: 88px;
            right: 130px;
        }

        &--marketAssessment {
            position: absolute;
            height: 63px;
            bottom: 261px;
            left: 380px;
        }

        &--productAssessment {
            top: 301px;
            padding-left: 110px;
            position: absolute;
            height: 87px;
            left: 155px;
        }

        &--readyToStrategize {
            top: 165px;
            padding-left: 0;
            position: absolute;
            height: 91px;
            right: 134px;
        }
    }


}
