.offer-page {
    height: 100%;
    overflow-y: auto;

    .container {
        margin: 50px auto;
        border: 5px solid #EA5C63;
        padding: 50px;
        border-radius: 15px;
    }

    .column {
        &--left {
            flex: 2;
        }
        &--right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            flex-direction: column;

            img {
                display: inline-block;
                width: 250px;
            }

        }
    }
    &__container {
        display: flex;
        margin: 40px 0 0 0;
    }

    &__content {
        margin: 50px 0;

        p, ul {
            margin: 20px 0;
        }

        ul {
            padding-left: 20px;
        }
    }

    &__header {
        font-family: cursive;
        font-size: 30px;
        line-height: 30px;
        color: #177CC5;
        font-weight: 900;
    }

    &__subheader {
        font-size: 20px;
        color: #EA5C63;
        font-weight: 900;
    }


    button {
        margin: auto;
        display: block;
        color: white;
        font-size: 20px;
        padding: 12px 70px;
        background-color:#17B5F0;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

}
