.select-marketAssesments {
    height: 100%;
    overflow-y: auto;

    &__container {
        display: flex;
        width: 800px;
        min-height: 460px;
        padding: 10px;
        margin: 100px auto 0 auto;
        border: 5px solid #FDDA80;
        border-radius: 4px;
    }

    .selected-assessments {
        flex: 1;
        padding: 0 10px;
        margin: 50px 0 0 0;

        &__item {
            border: 1px solid #EFEFF0;
            padding: 10px 5px;
            display: flex;
            align-items: center;

            .icon {
                width: 20px;
                height: 20px;
                border: 4px solid red;
                border-radius: 50%;
                margin: 0 15px 0 0;
            }
            .label {
                font-family: cursive;
                color: #3d4852;
            }
        }
    }

    .market-assessments {
        flex:2;

        &__navigation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0 0 5px 0;
            border-bottom: 2px solid gray;
        }

        &__category {
            border: 1px solid gray;
            display: flex;
            flex-direction: row;
            padding: 5px;
            border-radius: 4px;
            margin: 0 5px 0 0;
            cursor: pointer;

            &__selected {
                background-color: #ffb06c;
            }
            img {
                width: 35px;
                height: 35px;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 0 10px;
                font-size: 14px;
                font-weight: bold;
            }
        }

        &__elements {
            margin: 20px 0 0 0;
        }

        &__item {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid gray;
            margin: 0 5px 5px 0;
            border-radius: 4px;
            cursor: pointer;

            &--selected {
                background-color: #FDD7B6;
            }
            img {

                width: 30px;
                height: 30px;
                margin: 0 5px 0 0;
            }

            span {
                display: inline-block;
            }
        }
    }

    .btn-submit {
        width: 200px;
        height: 50px;
        margin: 50px auto;
        display: block;
        outline: none;
        background-color: rgba(255, 148, 37, 0.93);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: $login-text-color;

        &:hover{
            cursor: pointer;
        }
    }
}
