.game-navigation {
    height: 100%;
    overflow-y: auto;
    background-image: url("./assets/images/gameNavigation/game-navigation.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    &__current-level {
        color: $login-text-color;
        font-weight: 800;
        font-size: 30px;
    }


    &__icon {
        width: 120px;
    }


    &__actions-container {
        width: 60%;
        min-width: 350px;
        margin: 50px auto 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__next-level {
        margin: 20px auto 0 auto;
        padding: 15px 30px;
        font-size: 1em;
        color: $login-text-color;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: #FDAD6D;
        display: block;
        cursor: pointer;
    }


}
